In [1]:
import pandas as pd

In [2]:
reviews = pd.read_csv("ign.csv")

In [4]:
"""
Questions

1. What’s the first game ever released?
2. Do game scores vary from year to year?
3. What’s the platform with the highest average reviews?
4. Are blockbuster games released at a specific time of the year?
"""
None

In [5]:
reviews["release_year"].min()

1970

In [6]:
reviews[reviews["release_year"] == 1970]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
516,516,Great,The Walking Dead: The Game -- Episode 1: A New...,/games/the-walking-dead-season-1-episode-1/xbo...,Xbox 360,8.5,Adventure,N,1970,1,1

In [7]:
#title is not correct for oldest title so we will remove this entry
reviews.drop([516], axis=0,inplace=True)

In [8]:
reviews["release_year"].min()

1996

In [9]:
oldest_game = reviews[reviews["release_year"] == 1996]

In [10]:
oldest_game["release_month"].min()

6

In [11]:
oldest_game["release_day"].min()

2

In [12]:
oldest_game[(oldest_game["release_month"] == 6)] #[(oldest_game["release_day"] == 2)]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
515,515,Good,Baku Baku,/games/baku-baku/saturn-194,Saturn,7.0,Puzzle,N,1996,6,18

In [13]:
#alternative method:
reviews.sort_values(by=["release_year",'release_month','release_day']).reset_index().loc[0]

index                                     515
Unnamed: 0                                515
score_phrase                             Good
title                               Baku Baku
url               /games/baku-baku/saturn-194
platform                               Saturn
score                                       7
genre                                  Puzzle
editors_choice                              N
release_year                             1996
release_month                               6
release_day                                18
Name: 0, dtype: object

In [27]:
# Question 2. Do game scores vary from year to year?
score_by_year = reviews[["score","release_year"]]

In [28]:
avg = score_by_year.groupby(["release_year"]).mean()
avg

                 score
release_year
1996          6.161745
1997          6.566341
1998          6.930678
1999          6.983484
2000          6.693589
2001          7.120494
2002          6.978526
2003          7.198246
2004          7.170712
2005          7.222426
2006          6.732864
2007          6.632547
2008          6.448146
2009          6.840368
2010          6.932869
2011          7.050326
2012          7.418327
2013          7.460489
2014          7.467598
2015          7.659452
2016          7.573451

1.7117441555223205

In [36]:
x = ((score_by_year["score"] > 5))

/Users/timothypillow/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                 score
release_year
2008          6.448146
2011          7.050326

NameError: name 'plot' is not defined